* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body::before{
 display: block !important;
 content: '' !important;
 height: 60px !important;
} */

:root {
  --white: #ffffff;
  --pry-green: #19a295;
  --sec-green: #051522;
  --other-green: #06101a;
}
a:hover {
  transition: all 0.3s ease-in-out;
  color: var(--pry-green) !important;
}
a:active {
  text-decoration-line: var(--pry-green) !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  margin: 0 50px;
}
.logo {
  width: 80px;
}
.dark {
  --sec-green: #ffffff !important;
  --white: #06101a !;
}
.nav-links {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}
.nav-links a {
  padding: 25px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
}
.nav-links li {
  margin-top: 10px;
}

.ham-burger {
  display: none;
}

@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .navbar {
    margin: -20px 0;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    list-style: none;

    transition: all 0.5s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
    color: var(--white);
    padding-bottom: 20px;
    height: 100vh;
  }
  .nav-links-mobile a {
    text-align: center;
    padding: 22px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    cursor: pointer;
  }

  .ham-burger {
    display: block;
    position: absolute;
    padding-top: 15px;
    font-size: 30px;
    top: 15px;
    right: 25px;
    transition: all 0.2s ease-in-out;
  }
  .fa-times {
    color: white;
  }
}
